<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">welcome to homepage</h1>
    <h2>your user name is</h2>
    <p><%=username%></p>
    <p style="color: red">
      this is the protected route only be seen by the logged in user and the
      user remain logged in for t1 hours and the token expires.
    </p>
    <a href="/logout">logout</a>
  </body>
</html>
